:root {
    --font-size-ratio: 1.125;
    --font-size-base: 1rem;
    --font-size-s2: calc(var(--font-size-s1) / var(--font-size-ratio));
    --font-size-s1: calc(var(--font-size-m) / var(--font-size-ratio));
    --font-size-m: 1rem;
    --font-size-l1: calc(var(--font-size-m) * var(--font-size-ratio));
    --font-size-l2: calc(var(--font-size-l1) * var(--font-size-ratio));
    --font-size-l3: calc(var(--font-size-l2) * var(--font-size-ratio));
    --font-size-l4: calc(var(--font-size-l3) * var(--font-size-ratio));
    --font-size-l5: calc(var(--font-size-l4) * var(--font-size-ratio));
    --font-size-l6: calc(var(--font-size-l5) * var(--font-size-ratio));
    --font-size-l7: calc(var(--font-size-l6) * var(--font-size-ratio));

    @media (--viewport-m) {
        --font-size-ratio: 1.25;
    }

    @media (--viewport-l) {
        --font-size-ratio: 1.414;
    }
}
