:root {
    --font-family-sans: 'Noto Sans', sans-serif;
    --font-family-serif: 'IBM Plex Serif', serif;
    --font-family-mono: 'JetBrains Mono', monospace;
    --font-family-display: 'Kaisei HarunoUmi', serif;
}
