.IconButton {
    --size: var(--size-500);
    --color: var(--color-semantic-secondary-secondary);
    --border-radius: var(--border-radius-full);

    position: relative;
    display: grid;
    place-items: center;
    inline-size: var(--size);
    block-size: var(--size);
    background-color: transparent;
    color: var(--color);
    border: none;
    border-radius: var(--border-radius);
    font-size: var(--font-size-l2);

    &::before {
        content: '';
        opacity: 0;
        background-color: var(--color);
        position: absolute;
        inline-size: var(--size);
        block-size: var(--size);
        z-index: var(--layer-high);
        border-radius: var(--border-radius);
    }

    &::after {
        --size: var(--size-600);

        content: '';
        background-color: transparent;
        position: absolute;
        inline-size: var(--size);
        block-size: var(--size);
        z-index: var(--layer-low);
    }

    @media (hover: hover) {
        &:hover::before {
            opacity: var(--opacity-10);
        }
    }

    &:focus::before {
        opacity: var(--opacity-15);
    }

    &:active::before {
        opacity: var(--opacity-15);
    }
}
