.FAB {
    --size: var(--size-700);

    position: fixed;
    z-index: var(--layer-high);
    inset-inline-start: var(--space-200);
    inset-block-end: var(--space-200);
    display: grid;
    place-items: center;
    min-inline-size: var(--size);
    block-size: var(--size);
    background-color: var(--color-semantic-primary-primary);
    color: var(--color-semantic-primary-on-primary);
    border: none;
    border-radius: var(--border-radius-200);

    &.FAB--icon {
        font-size: var(--font-size-l2);
    }
}
