.home {
    background-color: var(--color-semantic-primary-primary-container);
    min-block-size: calc(100dvb - var(--size-1000));
    position: relative;
    isolation: isolate;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
    padding: var(--space-500) var(--space-300);
    overflow: hidden;

    @media (width > 600px) {
        padding: var(--space-800) var(--space-500);
    }

    @media (width > 1200px) {
        flex-direction: row;
    }

    .content {
        max-inline-size: max(75%, var(--size-content-l));
        display: flex;
        flex-flow: column nowrap;
        justify-content: start;
        align-items: center;
        gap: var(--space-500);
        color: var(--color-semantic-primary-on-primary-container);
        text-align: center;

        @media (width > 1200px) {
            max-inline-size: var(--size-content-l);
        }
    }

    .background-shape {
        position: absolute;
        z-index: var(--layer-lowest);

        &.top-shape {
            inset-block-start: -3.75rem;
            inset-inline-start: -3.125rem;

            path {
                fill: var(--color-ref-primary-20);
            }
        }

        &.bottom-shape {
            inset-block-end: -10rem;
            inset-inline-end: -12.5rem;

            path {
                fill: var(--color-ref-primary-35);
            }
        }
    }
}

.building {
    position: fixed;
    inset: 0;
    background-color: black;
    z-index: var(--layer-highest);
    color: white;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: start;
    gap: var(--space-500);
    text-align: center;
    padding: var(--space-400) var(--space-300);
    overflow: auto;
    overscroll-behavior: contain;
    scrollbar-gutter: stable;

    h1 {
        display: flex;
        flex-flow: column nowrap;
        gap: var(--space-100);
    }

    a {
        color: var(--color-semantic-primary-on-primary-container);
    }

    .building-icons {
        padding: var(--space-150);
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: var(--space-300);

        a {
            font-size: var(--size-400);
            color: var(--color-semantic-surface-on-surface-variant);
            position: relative;
            isolation: isolate;

            &::after {
                content: '';
                position: absolute;
                inline-size: var(--size-600);
                block-size: var(--size-600);
                z-index: var(--layer-low);
                inset-block-start: 50%;
                inset-inline-start: 50%;
                translate: -50% -50%;
            }

            &.linkedin {
                @media (hover: hover) {
                    &:hover {
                        color: var(--color-special-linkedin);
                    }
                }
            }

            &.github {
                @media (hover: hover) {
                    &:hover {
                        color: var(--color-special-github-white);
                    }
                }
            }
        }
    }
}
