.ui {
    min-block-size: 100dvb;
    background-color: var(--color-semantic-surface-background);
    color: var(--color-semantic-surface-on-surface);
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: stretch;

    main {
        flex-grow: 1;
        display: grid;
        place-items: stretch;
    }
}
