.Contact {
    background-color: var(--color-semantic-surface-background);
    color: var(--color-semantic-surface-on-surface);
    padding: var(--space-400) var(--space-300);
    display: flex;
    flex-flow: column nowrap;
    gap: var(--space-400);
    align-items: center;

    .Contact--heading {
        text-align: center;
    }

    .Contact--form {
        display: flex;
        flex-flow: column nowrap;
        gap: var(--space-250);
        align-items: center;
        padding: var(--space-300);
        background-color: var(--color-semantic-surface-layer3);
        border-radius: var(--border-radius-400);

        label {
            display: flex;
            flex-flow: column nowrap;
        }
    }
}
