.navigation-drawer-trap {
    .navigation-drawer-backdrop {
        position: fixed;
        inset: 0;
        z-index: var(--layer-backdrop);
        background-color: var(--color-semantic-backdrop);
        backdrop-filter: blur(2px);
    }

    .navigation-drawer {
        --border-radius: var(--border-radius-500);
        --accent-color: var(--color-semantic-primary-on-primary-container);
        --color: var(--color-semantic-surface-on-surface);

        position: fixed;
        inset-inline: 0;
        inset-block-end: 0;
        z-index: var(--layer-highest);
        display: flex;
        flex-flow: column nowrap;
        justify-content: start;
        align-items: center;
        gap: var(--space-500);
        background-color: var(--color-semantic-surface-layer4);
        color: var(--color);
        padding: var(--space-400) var(--space-300);
        border-start-start-radius: var(--border-radius);
        border-start-end-radius: var(--border-radius);

        @media (width > 640px) {
            inset-block: 0;
            inset-inline-end: unset;
            border-start-start-radius: 0;
            border-end-end-radius: var(--border-radius);
            padding: var(--space-1000) var(--space-1000) var(--space-800)
                var(--space-600);
        }

        .navigation-drawer__nav {
            .navigation-drawer__close-button {
                position: absolute;
                inset-inline-start: var(--space-300);
                inset-block-start: var(--space-300);

                @media (width > 640px) {
                    inset-block-start: var(--space-300);
                    inset-inline-start: unset;
                    inset-inline-end: var(--space-300);
                }
            }

            ul {
                display: flex;
                flex-flow: column nowrap;
                justify-content: start;
                align-items: center;
                gap: var(--space-300);

                @media (width > 640px) {
                    align-items: start;
                }
            }
        }
    }
}

.navigation-inline-container {
    --color: var(--color-semantic-primary-on-primary-container);
    --accent-color: var(--color-semantic-surface-on-surface);

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-600);
    color: var(--color);

    .navigation-inline {
        ul {
            display: flex;
            flex-flow: row wrap;
            justify-content: start;
            align-items: center;
            gap: var(--space-300);
        }
    }
}

.navigation-link {
    text-decoration: none;
    color: var(--color);

    &:visited {
        color: var(--color);
    }

    &:active,
    &.current {
        color: var(--accent-color);
    }

    @media (hover: hover) {
        &:hover {
            color: var(--accent-color);
            text-decoration: underline 15%;
            text-underline-offset: var(--space-100);
        }
    }
}

.navigation-socials {
    padding: var(--space-150);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: var(--space-300);

    .navigation-socials-icon {
        font-size: var(--size-400);
        color: var(--color-semantic-surface-on-surface-variant);
        position: relative;
        isolation: isolate;

        &::after {
            content: '';
            position: absolute;
            inline-size: var(--size-600);
            block-size: var(--size-600);
            z-index: var(--layer-low);
            inset-block-start: 50%;
            inset-inline-start: 50%;
            translate: -50% -50%;
        }

        &.linkedin {
            @media (hover: hover) {
                &:hover {
                    color: var(--color-special-linkedin);
                }
            }
        }

        &.github {
            @media (hover: hover) {
                &:hover {
                    color: var(--color-special-github-white);
                }
            }
        }
    }
}
